<p style="color: green"><%= notice %></p>

<div class = "h1"><h1>Restaurants</h1></div>
<div class="container" >
  <div class="card" style="width: 100% ">
    <%= image_tag "plat.jpeg" %>
    <div class="card-body">
    <%# <div id="restaurants"> %>
      <% @restaurants.each do |restaurant| %>
        <%= render restaurant %>
        <p>
          <%= link_to "Show this restaurant", restaurant %> <br>
          <%= link_to "New restaurant", new_restaurant_path %>
        </p>
      <% end %>
      </div>
  </div>
</div>


<div class="card">
  <img src="https://www.idees-weekend.fr/wp-content/uploads/2020/05/elephant-machine-nantes-1024x682.jpg" class="card-img-top" alt="Eléphant">
</div>
